.links, .bio {
	height: 100vh;
	width: 100%;
	
}

@media screen and (min-width:768px){
	
	.left, .right{
		height: 100vh;
	}
}

.links{
	background-color: #c49e7a;
}

.bio {
	background-color: rgb(92, 92, 90);
}