*{
	/* background-image: url(https://pbs.twimg.com/media/E_jUaSvWUAA_toM?format=jpg&name=900x900); */
	background-color: #333;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
	text-decoration: none;
}
.container{
	margin-left: 800px;
	margin-top: 390px;
	color: rgb(139, 139, 139);
}
.social-media{
	margin-left: 865px;

}